@media(min-width: 272px){
div.css-11k9pde.e1tzin5v0{
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 20px 70px 20px 70px;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
}
}